body {
    font-family: "Roboto", sans-serif;
    background-color: #edf2f7;
}
main {
    margin: 1.5rem 3rem;
}
header {
    width: 100%;
    background-color: #1a202c;
    color: #fff;
}
a {
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navbar {
    padding: 0.25rem 1rem;
}
.navbar-brand {
    font-size: 1.5rem;
}
.btn {
    margin-right: 1px;
    padding: 0 2px;
    font-size: 12px;
}
.text-muted {
    font-size: 12px;
}
.alert {
    margin: 4px 2px 0 0;
    padding: 0 2px;
    font-size: 10.5px;
}
.head-title {
    font-family: "Lobster Two", serif;
    font-size: 1.75rem;
    font-weight: bold;
}
.title {
    font-size: 0.9rem;
    font-weight: 500;
}
.about {
    font-size: 1rem;
    text-align: center;
}
.search-box {
    display: flex;
    position: relative;
}
.search-icon {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 50px;
    font-size: 1rem;
}
#search {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 3.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.85rem;
}
.filter-box {
    display: grid;
    grid-template-columns: 4fr 5fr 2fr;
    gap: 0;
    line-height: 1.25rem;
}
.lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
}
.list-item {
    padding: 10px;
    background: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
}
.list-item a {
    font-size: 12px;
}
.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description.expanded {
    -webkit-line-clamp: unset;
    line-clamp: unset;
    overflow: visible;
}
.read-more {
    display: block;
    cursor: pointer;
    font-size: 12px;
    color: blue;
}

/* Responsiveness */
@media only screen and (max-width: 1400px) {
    main {
        margin: 1.5rem 2rem;
    }
    .lists {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 768px) {
    main {
        margin: 1.5rem 0;
    }
    .navbar {
        padding: 8px 5px;
    }
    .btn {
        font-size: 11px;
    }
    #search {
        padding-left: 3rem;
    }
    .lists {
        grid-template-columns: 1fr;
    }
    .filter-box {
        grid-template-columns: 1fr;
    }
}